* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  background: #000;
}
html {
  font-size: 62.5%;
}
.wallpaper {
  border-bottom: 1px solid white;
  height: 75rem;
  position: relative;
  background: url("../img/bg.png");
  background-size: cover;
  background-position: bottom;

  img {
    width: 40rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-60%);
  }
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000,
      1px 0px #000, -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
    color: white;
    font-size: 15rem;
  }
}

.mood {
  border: 1px solid white;
  margin: 2rem;
  padding: 2rem;
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;

  &__reddit {
    font-size: 2rem;
    border-left: 1px solid white;
    flex: 1;
  }

  &__google {
    font-size: 2rem;
    flex: 1;
  }

  h2 {
    margin: 4rem;
  }
}
.bottom {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  height: 100%;
  border: 1px solid white;
  display: flex;
  color: white;
  margin: 1rem;

  img {
    margin: 2rem;
  }

  &--plotheader {
    font-size: 2rem;
    color: yellow;
  }

  &__google {
    flex: 1;
    text-align: center;
    border-right: 1px solid white;
    padding: 1rem;
  }
  &__reddit {
    flex: 1;
    text-align: center;
    padding: 1rem;
  }

  &__header {
    font-size: 7rem;
  }
}

.yellow {
  color: yellow;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}

#popularityheader {
  text-align: center;
  color: white;
  font-size: 7rem;
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.stats {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin:2rem;
  padding:2rem;
  border: 1px solid white;
}
